<div class="container user-profile">
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <%= image_tag("jane-austen.jpg") %>
        <div class="caption">
          <h5><%= @user.name %></h5>
          <p>Born in Little Rock, Arkansas, I love to write books and host tea parties, and I like zebras and penguins.</p>
          <p><a href="#" class="btn btn-primary" role="button">Join a story</a> <a href="#" class="btn btn-primary" role="button">Start a story</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <h5>My stories — In Progress </h5>
      <div class="list-group">
        <% @user.stories.where(finished: false).each do |story| %>
        <a class="list-group-item btn-block" href="/stories/<%=story.id%>"><%= story.sentences.first.text %></a>
        <% end %>
      </div>
    </div>
    <div class="col-md-8 col-md-offset-4">
      <h5>My stories — Complete </h5>
      <div class="list-group">
        <% @user.stories.where(finished: true).each do |story| %>
        <a class="list-group-item btn-block" href="/stories/<%=story.id%>"><%= story.sentences.first.text %></a>
        <% end %>
      </div>
    </div>
  </div>
</div>
