<script>
  $(document).ready(function(){
    $('.mark-done').on('click',function(){
      $('.mark-done').hide();
    });
    $('#my_form').on('submit',function(){
      var response = $('textarea').val()
      $('#my_form').hide();
      $('.sentence-add').append(response)
    });

    $('.vote').on('submit', function(event){
      event.preventDefault();
      $.ajax({
        method: "post",
        url: "/votes",
        data: $(event.target).serialize()
      }).done(function(response){
        $('.vote-total').replaceWith(`<span class='vote-total'>${response}</span>`)
      })
    });
  });
</script>

<div class="row">
  <div class="col-md-1">
    <section class="voting-form">
      <form class="vote">
        <input type="hidden" name="story" value="<%= @story.id %>">
        <input type="hidden" name="vote" value="upvote">
        <button class="btn vote-btn" type="submit"><i class="fa fa-thumbs-o-up thumb" aria-hidden="true"></i></button>
      </form>
      <span class="vote-total"><%= @story.sum %></span>
      <form class="vote">
        <input type="hidden" name="story" value="<%= @story.id%>">
        <input type="hidden" name="vote" value="downvote">
        <button class="btn vote-btn" type="submit"><i class="fa fa-thumbs-o-down thumb" aria-hidden="true"></i></button>
      </form>
    </section>
  </div>

  <div class="col-md-8">
    <h2> <%= @story.title %> </h2>
    <% if current_user.id == @story.user_id %>
      <p>
        <%@story.sentences.each do |sentence| %>
          <%=sentence.text%>
        <%end%>
      </p>
      <% unless @story.finished %>
        <form class="mark-done" action="/stories/<%=@story.id%>" method="POST">
          <input type="hidden" name="_method" value="PUT"/>
          <input class="btn btn-primary" type="submit" name="finished?" value="Mark story as complete"/>
        </form>
      <%end %>
      <% elsif @story.finished == false %>
        <div class="uncomplete-story">
          <% @story.sentences.each do |sentence|%>
            <% unless sentence == @story.sentences.last %>
              <%= sentence.text %>
            <% end %>
          <% end %>
          <span class="sentence-add"> <%=@story.sentences.last.text %> </span>
        </div>
        <% unless @story.sentences.last.user_id == current_user.id %>
          <%= form_tag "/sentences", :id => "my_form" do -%>
          <%= hidden_field_tag :story_id, @story.id %>
          <textarea class="form-control" name="sentence"></textarea>
          <%= submit_tag "Submit", :class => "btn btn-primary" %>
        <% end %>
      <% end %>
    <% else %>
      <p>
        <%@story.sentences.each do |sentence| %>
          <%=sentence.text%>
        <%end%>
      </p>
    <%end%>
  </div>
</div>
